.home-cont {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
}
.inp-home {
  margin-left: 25px;
  margin-top: 40px;
}
.head-home {
  margin-right: 110px;
}
.inp-home1 {
  width: 90vw;
  height: 40px;
  margin-left: 40px;
  margin-top: 20px;
}

@media screen and (max-width < 768px) {
  .home-cont {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    width: 700px;
  }
}

.delete-button {
  color: white;
  background-color: red;
  border-radius: 10px;
  padding: 8px;
  border: 0px;
  margin-left: 25px;
  margin-bottom: 20px;
}
